<!doctype html>
<html>
<head>
  <title>Today's weather</title>
  <script type="text/javascript" src="weather.js"></script>
  <script type="text/javascript" src="jquery-1.11.1.js"></script>
</head>
<body>
  <div id="weather">
    <h3>Today</h3>
    <p>Today's weather: <span id="main"></span></p>
    <p>Description: <span id="description"></span> </p>
    <p>Temperature: <span id="temp"></span></p>
    <p>Humidity: <span id="humidity"></span></p>
    <p>Pressure: <span id="pressure"></span></p>
    <p>Clouds: <span id="clouds"></span></p>
  </div>
</body>
</html>